.ask-question{
    min-height: 80vh;
}

.ask-ques-container h1{
    color: #EEEEEE;
    padding:80px 0px 20px 0px;
}
.ask-ques-container form .ask-form-container{
    padding: 20px;
    background-color: #31363F;
    border-radius: 10px;
}
.ask-form-container label h4{
    color: #EEEEEE;
    margin-bottom: 0%;
}
.ask-form-container label p{
    color: #76ABAE;
    margin: 0%;
    font-size: 13px;
    padding: 3px 0px;
}
.ask-form-container label input,
.ask-form-container label textarea{
    padding: 10px;
    color: #EEEEEE;
    background-color: transparent;
    border: solid 1px #222831;
    font-family: 'Roboto',sams-serif;
    width: 98%;
    resize: vertical;
    border-radius: 10px;

}
.review-btn{
    margin: 30px 0px;
    padding: 10px;
    background-color: #76ABAE;
    border: solid 1px #76ABAE;
    color: #EEEEEE;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.review-btn:hover{
    background-color: #76ABAE;
}

