.user-details-container {
  width: 200%;
  margin-top: 55px;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  color: #eeeeee;
}

.user-details {
  display: flex;
  align-items: flex-start;
  color: #eeeeee;
}
.tags_watched {
  color: #76abae;
}

.about_user {
  color: #76abae;
}
.user-name {
  padding-left: 20px;
  color: #eeeeee;
}
.user-name p {
  color: #76abae;
}
.edit-profile-btn {
  padding: 10px 10px;
  border: none;
  color: #eeeeee;
  font-weight: 600;
  border-radius: 10px;
  background-color: #76abae;
  cursor: pointer;
  transition: 0.3s;
}
.edit-profile-btn:hover {
  color: #eeeeee;
  background-color: #527d7f;
}
.edit-profile-title {
  width: 209%;
  padding: 20px 0px;
  border-bottom: solid 1px #eeeeee;
  color: #eeeeee;
}
.edit-profile-title-2 {
  color: #76abae;
  font-weight: 400;
}
.edit-profile-title-form {
  width: 200%;
  padding: 20px;
  padding-right: 30px;
  border: solid 1px #eeeeee;
  color: #eeeeee;
  border-radius: 10px;
}
.edit-profile-title-form label h3 {
  margin: 0%;
  padding: 3px 0px;
}
.edit-profile-title-form label input,
.edit-profile-title-form label textarea {
  padding: 8px;
  margin-bottom: 20px;
  border: solid 1px #eeeeee;
  background-color: #31363f;
  border-radius: 10px;
  color: #eeeeee;
  width: 100%;
}
.user-submit-btn {
  padding: 14px 10px;
  background-color: #76abae;
  color: #eeeeee;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
}
.user-submit-btn:hover {
  background-color: #527d7f;
}
.user-cancel-btn {
  padding: 14px 10px;
  color: #76abae;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
