
.login-logo{
    width: 50px;
    height: 30px;
}
.auth-section{
    display: flex;
    gap: 29px;
    justify-content:space-evenly;
    align-items: center;
}
.auth-container-1{
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    border: solid #EEEEEE 0px 1px 0px 1px;
    padding:20px;
    
}
.login-logo{
    padding: 20px 30px;
}
.auth-container-2{
    color: #EEEEEE;
    margin-top: 100px;
    min-width: 20%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth-container-2 form{
    color: #EEEEEE;
    width: 100%;
    padding: 20px 40px;
    /* background-color: #31363f; */
    border: 1px solid #EEEEEE;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
  
}
.auth-container-2 form label input{
    padding: 10px;
    min-width: 90%;
    background-color: #31363f;
    border: solid 2px #222831;
    border: 1px solid #EEEEEE;

    color: #EEEEEE;
    border-radius: 5px;
    font-size: 12px;

}
.auth-container-2 form label:nth-clild(1) h4,
.auth-container-2 form label:nth-clild(2) h4,
.auth-container-2 form label:nth-clild(3) h4,
.auth-container-2 form label:nth-clild(4) h4{
    margin-bottom: 100px;
    margin-top:5px;
    
}

.auth-container-2 form label:nth-child(4) input{
    width: 15%;
    margin: 13px 0px;
}
.auth-btn{
    margin-top: 10px;
    padding: 10px 1px;
    background-color: #76ABAE;
    border: solid 1px #76ABAE;
    color: #EEEEEE;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 13px;
    font-weight: 500;
}
.auth-btn:hover{
    background-color: #527d7f;
}
.handle-switch-btn{
    background-color: transparent;
    color: #76ABAE;
    border: none;
    font-size: 13px;
    cursor: pointer;
}
