
.main-nav{
    min-height: 65px;
    width: 100%;
    margin: 0%;
    border-top: solid 3px #76ABAE;
    box-shadow: 0px 1px 5px rgb(131, 131, 130);
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    background-color:#222831;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    height: 100%;
    margin-right: 100px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-item{
    margin: 0px 10px;
    font-size: medium;
    font-weight: 500;
    text-decoration: none;
    color: #EEEEEE;
    transition: 0.2s;
}
.nav-logo{
    margin-top: 10px;
    margin-left: 100px;
    color: #EEEEEE;
    font-weight: 900;
    text-decoration: none;
}
.nav-btn
{
    color: #EEEEEE;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
}
.nav-item:hover{
    /* text-decoration: underline; */
    color:#76ABAE;
}
.navbar form{
    color: #EEEEEE;

} 
.navbar form input{
    color: #EEEEEE;
    background-color: #76ABAE;
    border: 1px solid #EEEEEE;
    padding:5px;
    border-radius: 5px;
}
.navbar form .search-icon{
    position: absolute;
    left: 25px;
    top: 8px;
}
.nav-links{
    padding: 7px 13px;
    border:none;
    border-radius: 10px;
    background-color:#76ABAE;
    color: #EEEEEE;
    cursor: pointer;
    transition: 0.2s;
}
.nav-links:hover{
    background-color: #527d7f;
    color: #EEEEEE;
    border:none;
    text-decoration: none;
}