.userList-container{
    background-color: #31363f;
    border-radius: 10px;
    width: 850px;
    padding:30px;
    display: grid;
    padding-left: 50px;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.user-profile-link{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
    text-decoration: none;
    border: solid 1px transparent;
    color: #eeeeee;
}
.user-profile-link:hover{
    border: solid 1px #eeeeee;
    border-radius: 10px;
}

.user-profile-link h3{
    padding: 10px 13px;
    background-color: #76abae;
    border-radius: 60%;
}
.user-profile-link h5{
    margin: 0px 10px;
}
.user-profile-link h5:hover{
    margin: 0px 10px;
    color: #76abae;
}